* {
	margin: 0;
	padding: 0;
	border: 0;
	font-family: 'Muli', sans-serif;
}

article, aside, details, figcaption, figure, footer, header, main, nav, section, summary, div{
    display:block;
}


/*footer*/

.site {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
}

.site-content {
	flex: 1;
}


/*footer*/


header{
	background-color: lightgrey;
	background-size: 100%;
}

header img{
	max-width: 20%;
	margin: 0 auto;
}

main.thank {
    display: block;
    margin: 3%;
    text-align: center;
}



nav ul{

	padding: 2%;
  text-align: center;
  font-size: 2rem;
	display: block;
}

nav ul li{
	font-weight: bold;
	font-size: .6em;
  display: inline;
  padding: 3%;
}

nav ul li a{
	text-decoration: none;
	color: #ce5423;
}

main{
	background-color: #ffe8e9;
}

.homeabt{
	margin-bottom: 0%;
	display: flex;
	flex-direction: row-reverse;
	justify-content: space-between;
	flex-basis: 0;
	align-items: center;
	background-color: #a9ba9d;
}

.homeabt2{
	margin-bottom: 0%;
	display: inline-flex;
	flex-basis: 0;
	align-items: center;
	justify-content: space-between;
	background-color: #a9ba9d;
}

.homeabt2 .flexcontent1{
	max-width: 50%;

}

.flexcontent{
	max-width: 50%;
}

.flexcontent img{
	object-fit: cover;
}

.flexcontent1{
	line-height: 150%;
	text-align: center;
	max-width: 50%;
}

.flexcontent2{
	line-height: 150%;
	text-align: center;
	max-width: 50%;
}


.flexcontent1 h2{
	margin-left: 0%;
	padding-bottom: 3%;
}

.flexcontent1 p{
	margin-left: 0%;
	padding: 3%;
}

.flexcontent2 h2{
	margin-right: 0%;
	padding-bottom: 3%;
}

.flexcontent2 p{
	margin-right: 0%;
	padding: 3%;
}


.imggrid{
	margin: 0% 0% 0% 0%;
	padding: 0 0% 0 0%;
}

.image-grid{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	max-width: 1200px;
	margin: 0 auto;
	padding-top: 5%;
	padding-bottom: 5%;
}

.imggridporfolio{
	margin: 0 20% 0 20%;
	max-width: 900px;
}

.portfolio{
	padding-top: 4%;
	font-size: 2.7em;
	 text-align: center;
 }

img{
	display: block;
	width: 100%;
}



footer {
	background-color: #fdfd96;
  margin: 0% 0% 0% 0%;
	padding: 2%;
	text-align: center;
	font-size: 1.5rem;
	font-weight: bold;
	color: white;
	clear: both;
}


article p{
  padding-right: 0%;
}

.text-content{
	display: flex;
	padding: 0%;
	max-width: 60%;
	margin: 0 auto;
}

.text-content img{
	max-width: 20%;
}

/*========================================
*
*     Contact Section
*
*
*=========================================*/
#container{
	padding: 8%;
}
.contact-section {
	background-color: #ce5423;
  padding: 3%;
  width: 30%;
  margin: 0 auto;
	margin-top: 0%;
}

.contact-section h3{
	margin-bottom: 3%;
}
}
.contact {
  margin: 8% 0;
}

.contact div {
  margin-bottom: 10px;
}

.label_input_wrap {
  vertical-align: top;
  display: block;
}
.contact-section input,
.contact-section textarea {
	padding: 3%;
	margin-top: 2%;
	margin-bottom: 3%;
	border-radius: 4%;
}
.contact input,
.contact textarea {
  border: 1px solid black;
  padding: 2% 4%;
}

.submit input {
  background: #333;
  color: white;
  border: none;
  border-radius: 1%;


}

/* about page */
.aboutflexcontent2{
	line-height: 150%;
	text-align: center;
	max-width: 50%;
}

.aboutflexcontent2 h2{
	margin-right: 8%;
	margin-left: 8%;
	padding-bottom: 3%;
}

.aboutflexcontent2 p{
	margin-right: 8%;
	margin-left: 8%;
}

@media (min-width: 400px) {


figure{
	width: 50%;
}

}

@media (min-width: 700px){

	figure{
		width: 30%;
	}


}

@media (max-width: 580px){

	h2{
		font-size: .4em;
	}
}

@media (max-width: 680px){

	h2{
		font-size: 1em;
	}

	article p{
	 font-size: .6em;
	}





@media (max-width: 800px){



}

@media (max-width: 930px){
	.text-content img{
		display: none;
	}
}


@media (max-width: 980px){
	h2 {
		font-size: 1.2rem;
	}


	nav ul{
		font-size: 1.2rem;
	}






}
